<div class="container">

  <h2> Add a Tag to <%= @plant.name %> </h2>

  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.association :tag, input_html: { multiple: true, class: 'select2' }, include_hidden: false %>
    <%# f.input :tag, collection: Tag.all, input_html: { multiple: true, class: "select2" }, include_hidden: false %>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>


</div>